h1 {
  color: #55677d; }

html {
  font-family: Arial, Helvetica, sans-serif; }

.title {
  color: white; }

html, body {
  margin: 0; }

.subtitle {
  color: whitesmoke; }

.app {
  width: 100%; }

header {
  width: 100%;
  color: white;
  text-align: left;
  background-color: #232f3e;
  display: grid;
  grid-template-columns: auto auto; }

nav {
  margin: 0;
  display: inline-block; }

nav ul li.active {
  background-color: #ff9900; }

nav ul {
  margin: 0;
  padding: 0; }

nav ul li:first-child {
  margin: 0;
  list-style: none;
  display: inline-block;
  padding: 1em 2em 1em 1em; }

nav ul li:not(first-child) {
  margin: 0;
  list-style: none;
  display: inline-block;
  padding: 1em 2em 1em 2em; }

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em; }

nav ul li a:hover {
  text-decoration: none; }

.login-display {
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  padding: .9em;
  text-align: right;
  padding-right: 2em; }

.two-columns {
  display: grid;
  grid-template-columns: 55% 40%; }

.column {
  display: block;
  position: relative;
  margin: 1em 1em 1em 1em; }

small {
  font-size: .8em; }

label {
  display: block; }

input[type=text] {
  width: 90%;
  font-size: 1.1em;
  padding: .6em;
  margin-bottom: 1em;
  border: 1px solid #828282;
  border-radius: 4px;
  box-sizing: content-box; }

input[type=password] {
  width: 90%;
  font-size: 1.1em;
  padding: .6em;
  margin-bottom: 1em;
  border: 1px solid #828282;
  border-radius: 4px; }

button {
  padding: .8em;
  border-radius: 4px;
  margin: 0; }

.is-primary {
  font-size: 1.1em;
  background-color: #ff9900;
  color: white;
  border: 1px inset #ffc46d; }

form {
  position: relative; }

.right {
  position: absolute;
  right: 0; }

a {
  color: #ff9900;
  text-decoration: none; }

a:hover {
  color: #ffc46d;
  text-decoration: underline; }
