<!-- #TODO this should be lang="es" eventually -->
{% extends "./base.html" %}
{% block content %}
<h2>The good stuff:</h2>
    <p>In the learn app, we've been playing around with how to load templates to organize pages (See the docs on
    <a href="https://docs.djangoproject.com/en/3.2/topics/http/urls/">template inheritance</a> and the <a href="https://docs.djangoproject.com/en/3.2/topics/http/urls/">URL dispatcher</a>).
    </p>
    <p>We've also been tailwind-ing the tar out of this feather.</p>

<h2>The other stuff:</h2>

    <p>The default <a href="/admin">admin site</a>, with whatever we add to it.</p>
    <p>For debugging, here's <a href="http://localhost:5050">PGAdmin</a>.  TODO get this working on docker?</p>
</ul>
{% endblock %}

</html>