<html>
<head>
    <title>Hello, world.</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
<div class="container mx-auto px-8 py-4">
<h1>Hello, world.</h1>
<p>Todo:  just add a bunch of nunjuck goodness, and some alpine and don't forget your friends, tailwind and alpine.</p>
<p>Let's see if we can add a tailwind button?</p>
<p>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Button
    </button>
</p>
</div>
</body>
</html>

